@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1  {
  font-size: 50px;
  color: #f9d342; 
}

section img {
  display: block;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

section h2 {
  color: white;
  font-family: algerian;
  font-size: 30px;
  position: absolute;
  margin-top: 100px;
  margin-left: 150px;
}

section h3 {
  font-size: 50px;
  font-family: algerian;
  color: #292826;
  margin-bottom: 400px;
}

section h4 {
  font-size: 50px;
  font-family: algerian;
  color: #f9d342;
  margin-bottom: 20px;
  margin-left: 90px;
}

section h5 {
  color: #292826;
  font-size: 30px;
  position: absolute;
  margin-bottom: 300px;
  margin-right: 470px;
}

section p {
  color: white;
  font-size: 20px;
  margin-left: 85px;
}

section ul {
  color: #292826;
  font-size: 20px;
  position: absolute;
  margin-right: 300px;
  margin-bottom: 180px;
}

#home {
  background-color: #292826;
}
#skill {
  background-color: #f9d342;
}
#about {
  background-color: #292826;
}
#contact {
  background-color: #f9d342;
}

.sidebar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #414141;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
}

.nav-link i {
  width: 70px;
  height: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  transition: all 0.3s;
}

.nav-link .title {
  position: absolute;
  background-color: #414141;
  height: 100%;
  padding-right: 65px;
  padding-left: 20px;
  line-height: 70px;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.nav-item:hover i {
  transform: scale(1.1);
  box-shadow: 0px 0 20px rgba(0, 0, 0, 0.8);
}

.nav-item:hover .title {
  transform: translateX(0);
}

.btn-wrapper {
  margin: 40px 0;
}

.btn-wrapper p {
  margin: 40px 0;
}
.instagram {
  background-color: #d91e85;
  color: white;
}
.facebook {
  background-color: #3b5998;
  color: white;
}
.twitter {
  background-color: #00acee;
  color: white;
}
.github{
  background-color: #171515;
  color: white;
}
.linkedin{
  background-color: #0e76a8;
  color: white;
}
.blog{
  background-color: #fc4f08;
  color: white;
}
.cv{
  background-color: #171515;
  color: white;
}



.btn {
  padding: 12px 24px;
  background-color: relative;
  cursor: pointer;
  box-shadow: 0 4px grey;
}


.btn:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}